In [238]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [239]:
train = pd.read_csv('train_u6lujuX_CVtuZ9i.csv')

In [240]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
Loan_ID              614 non-null object
Gender               601 non-null object
Married              611 non-null object
Dependents           599 non-null object
Education            614 non-null object
Self_Employed        582 non-null object
ApplicantIncome      614 non-null int64
CoapplicantIncome    614 non-null float64
LoanAmount           592 non-null float64
Loan_Amount_Term     600 non-null float64
Credit_History       564 non-null float64
Property_Area        614 non-null object
Loan_Status          614 non-null object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.4+ KB

In [241]:
sample = pd.read_csv('Sample_Submission_ZAuTl8O_FK3zQHh.csv')
test = pd.read_csv('test_Y3wMUE5_7gLdaTN.csv')
test.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [242]:
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [243]:
train.Gender.value_counts()

Male      489
Female    112
Name: Gender, dtype: int64

In [244]:
train.Gender = train.Gender.map(lambda x: 0 if x=='Female' else 1)

In [245]:
train.loc[train.Credit_History.isnull(), 'Credit_History'] = 0

In [246]:
train.Credit_History.value_counts()

1.0    475
0.0    139
Name: Credit_History, dtype: int64

In [247]:
train.Property_Area.value_counts()

Semiurban    233
Urban        202
Rural        179
Name: Property_Area, dtype: int64

In [248]:
train.Married.value_counts()

Yes    398
No     213
Name: Married, dtype: int64

In [249]:
train.Married = train.Married.map(lambda x: 1 if x=='Yes' else 0)

In [250]:
train.loc[train.Dependents.isnull(), 'Dependents'] = 0
#train.Dependents[train.Dependents.isnull()]=0

In [251]:
train.Dependents.value_counts()

0     345
1     102
2     101
3+     51
0      15
Name: Dependents, dtype: int64

In [252]:
train.Dependents = pd.to_numeric(train.Dependents, errors = 'coerce')

In [253]:
train.loc[train.Dependents.isnull(), 'Dependents']=3

In [254]:
train.Dependents.value_counts()

0.0    360
1.0    102
2.0    101
3.0     51
Name: Dependents, dtype: int64

In [255]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
Loan_ID              614 non-null object
Gender               614 non-null int64
Married              614 non-null int64
Dependents           614 non-null float64
Education            614 non-null object
Self_Employed        582 non-null object
ApplicantIncome      614 non-null int64
CoapplicantIncome    614 non-null float64
LoanAmount           592 non-null float64
Loan_Amount_Term     600 non-null float64
Credit_History       614 non-null float64
Property_Area        614 non-null object
Loan_Status          614 non-null object
dtypes: float64(5), int64(3), object(5)
memory usage: 62.4+ KB

In [256]:
train.Property_Area.value_counts()

Semiurban    233
Urban        202
Rural        179
Name: Property_Area, dtype: int64

In [257]:
train.Education.value_counts()

Graduate        480
Not Graduate    134
Name: Education, dtype: int64

In [258]:
train.Education = train.Education.map(lambda x: 0 if x=='Not Graduate' else 1 if x=='Graduate' else 0 if x==0 else 1)

In [259]:
train.Self_Employed = train.Self_Employed.map(lambda x: 0 if x=='No' else 1 if x=='Yes' else 0 if x==0 else 1)

In [260]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
Loan_ID              614 non-null object
Gender               614 non-null int64
Married              614 non-null int64
Dependents           614 non-null float64
Education            614 non-null int64
Self_Employed        614 non-null int64
ApplicantIncome      614 non-null int64
CoapplicantIncome    614 non-null float64
LoanAmount           592 non-null float64
Loan_Amount_Term     600 non-null float64
Credit_History       614 non-null float64
Property_Area        614 non-null object
Loan_Status          614 non-null object
dtypes: float64(5), int64(5), object(3)
memory usage: 62.4+ KB

In [261]:
train.loc[train.LoanAmount.isnull(), 'LoanAmount'] = train.LoanAmount.mean()

In [262]:
train.loc[train.Loan_Amount_Term.isnull(),'Loan_Amount_Term'] = train.Loan_Amount_Term.mean()

In [263]:
train.Property_Area.value_counts()

Semiurban    233
Urban        202
Rural        179
Name: Property_Area, dtype: int64

In [264]:
train.Property_Area = train.Property_Area.map(lambda x: 0 if x == 'Urban' else 1 if x=='Semiurban' else 2)

In [265]:
train.Loan_Status = train.Loan_Status.map(lambda x: 1 if x=='Y' else 0)

In [266]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
Loan_ID              614 non-null object
Gender               614 non-null int64
Married              614 non-null int64
Dependents           614 non-null float64
Education            614 non-null int64
Self_Employed        614 non-null int64
ApplicantIncome      614 non-null int64
CoapplicantIncome    614 non-null float64
LoanAmount           614 non-null float64
Loan_Amount_Term     614 non-null float64
Credit_History       614 non-null float64
Property_Area        614 non-null int64
Loan_Status          614 non-null int64
dtypes: float64(5), int64(7), object(1)
memory usage: 62.4+ KB